.about-header {
    color: blue;
}

.about-content-pic {
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

.about-content-text {
    display: block;
    width: 60vw;
    margin: auto;
    text-align: left;
}