.products-container {
    display: grid;
    grid-template-columns: 3.5fr 6.5fr;
    grid-template-rows: 80px 9fr;
}

.filter {
    height: auto;
    min-height: 100% !important;
    grid-area: 2 / 1 / 3 / 2;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    grid-area: 2 / 2 / 3 / 3;
}

.product-page {
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    background-color: #b5cef4;
    margin-top: 20px;
}

.product-page li {
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin: 5px;
    min-height: 40px;
    min-width: 40px;
    font-size: 18px;
    font-weight: bold;
}

.product-page .selected {
    color: black;
}

.product-card {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    row-gap: 20px;
}


.sub-header {
    text-align: right;
    grid-area: 1 / 1 / 2 / 3;
}

.rounded-circle1 {
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 1.4rem;
    height: 1.4rem;
    right: 0;
    bottom: 0;
    transform: translate(50%, 50%);
}

.hidden2 {
    display: none;
}