.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.menu {
  position: absolute;
  left: 18%;
  top: 24%;
}

.navbar {
  margin: auto;
  width: 60%;
  margin-top: 20px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  text-align: center;
}

.navbar td {
  width: 130px;
  height: 50px;
  text-decoration: none;
}